body {
  background-color: beige;
  text-align: center;
  /* font-family: 'MuseoModerno', cursive; */
  font-family: 'Quicksand', sans-serif;
}

ul li {
  list-style: none;
}

table {
  text-align: left;
  margin: auto;
  background-color: white;
  border-color: black;
  border-style: solid;
  width: 35%;
  font-size: 25px;
}

table, thead, td {
  border: 1px solid black;
}

td {
  text-align: center;
}

.td-name {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}

.team-ul {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
}

.team-li {
  width: 15%;
  height: 40px;
  border-radius: 15px;
  margin: auto;
  padding: 35px 20px 20px 20px;
  text-align: center;
  color: white;
  background-color: cadetblue;
  text-decoration: none;
}
.team-li:hover {
  background-color: darkgoldenrod;
}

.tp-goback {
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
  margin-top: 30px;
  background-color: cadetblue;
  color: white;
  text-decoration: none;
}
.tp-goback:hover {
  background-color: darkgoldenrod;
}
.table-div {
  margin-top: 30px;
}
